pipeline/pl_ingest_filebatch_single.json
{
	"name": "pl_ingest_filebatch_single",
	"properties": {
		"description": "Ingests file-batch from raw to bronze. Aligned with 12-column control table schema.",
		"activities": [
			{
				"name": "SetPartition",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_partition",
					"value": {
						"value": "@concat('year=', formatDateTime(utcNow(),'yyyy'), '/month=', formatDateTime(utcNow(),'MM'), '/day=', formatDateTime(utcNow(),'dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetRunStart",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_start",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyRawToBronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetPartition",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetRunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@if(equals(pipeline().parameters.source_config.load_type, 'FULL'), json('null'), pipeline().parameters.source_config.last_run_start)",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.source_config.source_path",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.source_config.file_name_pattern",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adls_raw_source",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "raw-landing",
							"p_folder_path": {
								"value": "@pipeline().parameters.source_config.source_path",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_bronze_sink",
						"type": "DatasetReference",
						"parameters": {
							"p_bronze_container": {
								"value": "@pipeline().parameters.source_config.target_container",
								"type": "Expression"
							},
							"p_source_name": {
								"value": "@pipeline().parameters.source_config.target_path",
								"type": "Expression"
							},
							"p_partition": {
								"value": "@variables('v_partition')",
								"type": "Expression"
							},
							"p_filename": {
								"value": "@pipeline().parameters.source_config.file_name_pattern",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateControlTableSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyRawToBronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_complete_pipeline_run]",
					"storedProcedureParameters": {
						"log_id": {
							"value": {
								"value": "@pipeline().parameters.source_config.log_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"status": {
							"value": "Succeeded",
							"type": "String"
						},
						"file_count": {
							"value": {
								"value": "@activity('CopyRawToBronze').output.filesWritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"row_count": {
							"value": {
								"value": "@activity('CopyRawToBronze').output.filesWritten",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateControlTableFailed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyRawToBronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_fail_pipeline_run]",
					"storedProcedureParameters": {
						"log_id": {
							"value": {
								"value": "@pipeline().parameters.source_config.log_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"error_message": {
							"value": "Copy activity failed.",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FailPipelineExecution",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "UpdateControlTableFailed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Child ingestion failed; control table updated.",
					"errorCode": "CHILD_FAIL"
				}
			}
		],
		"parameters": {
			"source_config": {
				"type": "object"
			}
		},
		"variables": {
			"v_partition": {
				"type": "String"
			},
			"v_run_start": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-04T19:41:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}