adf/pipeline/pl_ingest_api_single.json
{
	"name": "pl_ingest_api_single",
	"properties": {
		"description": "Ingests a single API/REST source. Aligned with central metadata pattern.",
		"activities": [
			{
				"name": "SetPartition",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_partition",
					"value": {
						"value": "@concat('year=',formatDateTime(utcNow(),'yyyy'),'/month=',formatDateTime(utcNow(),'MM'),'/day=',formatDateTime(utcNow(),'dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetRunStart",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_start",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyRawToBronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetPartition",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetRunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@if(equals(pipeline().parameters.source_config.load_type, 'FULL'), json('null'), pipeline().parameters.source_config.last_run_start)",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.source_config.source_path",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.source_config.file_name_pattern",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adls_raw_source",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "raw-landing",
							"p_folder_path": {
								"value": "@pipeline().parameters.source_config.source_path",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_bronze_sink",
						"type": "DatasetReference",
						"parameters": {
							"p_bronze_container": {
								"value": "@pipeline().parameters.source_config.target_container",
								"type": "Expression"
							},
							"p_source_name": {
								"value": "@pipeline().parameters.source_config.target_path",
								"type": "Expression"
							},
							"p_partition": {
								"value": "@variables('v_partition')",
								"type": "Expression"
							},
							"p_filename": {
								"value": "@pipeline().parameters.source_config.file_name_pattern",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateControlTableSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyRawToBronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.sp_update_source_status",
					"storedProcedureParameters": {
						"source_id": {
							"value": {
								"value": "@pipeline().parameters.source_config.source_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"run_status": {
							"value": "Succeeded",
							"type": "String"
						},
						"file_count": {
							"value": {
								"value": "@activity('CopyRawToBronze').output.filesWritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"row_count": {
							"value": {
								"value": "@activity('CopyRawToBronze').output.filesWritten",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateControlTableFailed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyRawToBronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.sp_update_source_status",
					"storedProcedureParameters": {
						"source_id": {
							"value": {
								"value": "@pipeline().parameters.source_config.source_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"run_status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FailPipelineExecution",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "UpdateControlTableFailed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@concat('API ingestion failed for system source: ', pipeline().parameters.source_config.source_system)",
						"type": "Expression"
					},
					"errorCode": "CHILD_API_INGESTION_FAILED"
				}
			}
		],
		"parameters": {
			"source_config": {
				"type": "object"
			}
		},
		"variables": {
			"v_partition": {
				"type": "String"
			},
			"v_run_start": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-04T19:41:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
