adf/pipeline/pl_master_c360_ingest.json
{
	"name": "pl_master_c360_ingest",
	"properties": {
		"description": "ADF master pipeline - full load on first run, incremental on subsequent runs. Any source failure triggers alert and hard-fail.",
		"activities": [
			{
				"name": "CheckSourceFilesExist",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_raw_source",
						"type": "DatasetReference",
						"parameters": {
							"p_container": {
								"value": "raw-landing",
								"type": "Expression"
							},
							"p_folder_path": {
								"value": "/",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "AlertSourceFileMissing",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CheckSourceFilesExist",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@pipeline().parameters.alert_webhook_url",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\\\"title\\\":\\\"ADF ALERT - Source File Check Failed\\\",\\\"text\\\":\\\"Pipeline: pl_master_c360_ingest | RunId: ', pipeline().RunId, ' | TriggerTime: ', pipeline().TriggerTime, ' | GetMetadata on ds_adls_raw_source failed. No files found or container unreachable.\\\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FailSourceFileMissing",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "AlertSourceFileMissing",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Source file check failed - ADLS container unreachable or empty. Pipeline aborted.",
					"errorCode": "SOURCE_FILE_CHECK_FAILED"
				}
			},
			{
				"name": "LookupFileBatchSources",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CheckSourceFilesExist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "dbo.sp_get_active_sources",
						"storedProcedureParameters": {
							"source_type": {
								"type": "String",
								"value": "file_batch"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LookupCDCSources",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CheckSourceFilesExist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "dbo.sp_get_active_sources",
						"storedProcedureParameters": {
							"source_type": {
								"type": "String",
								"value": "db_cdc"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LookupAPISources",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CheckSourceFilesExist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "dbo.sp_get_active_sources",
						"storedProcedureParameters": {
							"source_type": {
								"type": "String",
								"value": "api_rest"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_FileBatch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupFileBatchSources",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupFileBatchSources').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "ExecuteFileBatchPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ingest_filebatch_single",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_config": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "AlertFileBatchSourceFailed",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ExecuteFileBatchPipeline",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@pipeline().parameters.alert_webhook_url",
									"type": "Expression"
								},
								"body": {
									"value": "@concat('{\\\"title\\\":\\\"ADF ALERT - FileBatch Source FAILED\\\",\\\"text\\\":\\\"Pipeline: pl_master_c360_ingest | RunId: ', pipeline().RunId, ' | source_id: ', string(item().source_id), ' | source_name: ', item().source_system, ' failed to load. Pipeline will abort.\\\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FailFileBatchSource",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "AlertFileBatchSourceFailed",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('FileBatch source FAILED - source_id: ', string(item().source_id), ', source_name: ', item().source_system, '. All sources must succeed. Pipeline aborted.')",
									"type": "Expression"
								},
								"errorCode": "FILEBATCH_SOURCE_FAILED"
							}
						},
						{
							"name": "ValidateMetadataGate_filebatch",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExecuteFileBatchPipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_validate_and_update_metadata]",
								"storedProcedureParameters": {
									"source_id": {
										"value": {
											"value": "@item().source_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"run_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"load_type": {
										"value": {
											"value": "@if(or(pipeline().parameters.force_full_load, equals(item().last_run_status, null)), 'FULL', 'INCREMENTAL')",
											"type": "Expression"
										},
										"type": "String"
									},
									"new_watermark": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_control",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ForEach_CDC",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupCDCSources",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupCDCSources').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExecuteCDCPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ingest_cdc_single",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_config": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "AlertCDCSourceFailed",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ExecuteCDCPipeline",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@pipeline().parameters.alert_webhook_url",
									"type": "Expression"
								},
								"body": {
									"value": "@concat('{\\\"title\\\":\\\"ADF ALERT - CDC Source FAILED\\\",\\\"text\\\":\\\"Pipeline: pl_master_c360_ingest | RunId: ', pipeline().RunId, ' | source_id: ', string(item().source_id), ' | source_name: ', item().source_system, ' failed to load. Pipeline will abort.\\\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FailCDCSource",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "AlertCDCSourceFailed",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('CDC source FAILED - source_id: ', string(item().source_id), ', source_name: ', item().source_system, '. All sources must succeed. Pipeline aborted.')",
									"type": "Expression"
								},
								"errorCode": "CDC_SOURCE_FAILED"
							}
						},
						{
							"name": "ValidateMetadataGate_cdc",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExecuteCDCPipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_validate_and_update_metadata]",
								"storedProcedureParameters": {
									"source_id": {
										"value": {
											"value": "@item().source_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"run_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"load_type": {
										"value": {
											"value": "@if(or(pipeline().parameters.force_full_load, equals(item().last_run_status, null)), 'FULL', 'INCREMENTAL')",
											"type": "Expression"
										},
										"type": "String"
									},
									"new_watermark": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_control",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ForEach_API",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAPISources",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAPISources').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "ExecuteAPIPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ingest_api_single",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_config": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "AlertAPISourceFailed",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ExecuteAPIPipeline",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@pipeline().parameters.alert_webhook_url",
									"type": "Expression"
								},
								"body": {
									"value": "@concat('{\\\"title\\\":\\\"ADF ALERT - API Source FAILED\\\",\\\"text\\\":\\\"Pipeline: pl_master_c360_ingest | RunId: ', pipeline().RunId, ' | source_id: ', string(item().source_id), ' | source_name: ', item().source_system, ' failed to load. Pipeline will abort.\\\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FailAPISource",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "AlertAPISourceFailed",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('API source FAILED - source_id: ', string(item().source_id), ', source_name: ', item().source_system, '. All sources must succeed. Pipeline aborted.')",
									"type": "Expression"
								},
								"errorCode": "API_SOURCE_FAILED"
							}
						},
						{
							"name": "ValidateMetadataGate_api",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExecuteAPIPipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_validate_and_update_metadata]",
								"storedProcedureParameters": {
									"source_id": {
										"value": {
											"value": "@item().source_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"run_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"load_type": {
										"value": {
											"value": "@if(or(pipeline().parameters.force_full_load, equals(item().last_run_status, null)), 'FULL', 'INCREMENTAL')",
											"type": "Expression"
										},
										"type": "String"
									},
									"new_watermark": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_control",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "CheckDataQuality",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_FileBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach_CDC",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach_API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT COUNT(c.source_id) AS total_active_sources, SUM(CASE WHEN v.status = ''SUCCESS'' THEN 1 ELSE 0 END) AS successful_sources, SUM(CASE WHEN v.status = ''FAILED'' THEN 1 ELSE 0 END) AS failed_sources, SUM(CASE WHEN v.status IS NULL THEN 1 ELSE 0 END) AS not_run_sources, SUM(ISNULL(v.rows_written, 0)) AS total_rows_written FROM dbo.ingestion_control c LEFT JOIN dbo.vw_ingestion_run_log v ON c.source_system = v.source_name AND v.run_start >= ''', pipeline().TriggerTime, ''' WHERE c.is_active = 1')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CheckCriticalSourcesFailed",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_FileBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach_CDC",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach_API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT COUNT(*) AS failed_critical FROM dbo.vw_ingestion_run_log r INNER JOIN dbo.ingestion_control c ON r.source_name = c.source_system WHERE r.status = ''FAILED'' AND c.is_active = 1 AND r.run_start >= ''', pipeline().TriggerTime, '''')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ValidateDataQuality",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckCriticalSourcesFailed",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CheckDataQuality",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CheckCriticalSourcesFailed').output.firstRow.failed_critical, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "AlertQualityFailed",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@pipeline().parameters.alert_webhook_url",
									"type": "Expression"
								},
								"body": {
									"value": "@concat('{\\\"title\\\":\\\"ADF ALERT - Data Quality Check FAILED\\\",\\\"text\\\":\\\"Pipeline: pl_master_c360_ingest | RunId: ', pipeline().RunId, ' | Critical failures: ', string(activity('CheckCriticalSourcesFailed').output.firstRow.failed_critical), ' | Successful: ', string(activity('CheckDataQuality').output.firstRow.successful_sources), ' | Failed: ', string(activity('CheckDataQuality').output.firstRow.failed_sources), '\\\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FailQualityCheck",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "AlertQualityFailed",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('DATA QUALITY FAILED. Critical failures: ', string(activity('CheckCriticalSourcesFailed').output.firstRow.failed_critical), '. Total failed: ', string(activity('CheckDataQuality').output.firstRow.failed_sources))",
									"type": "Expression"
								},
								"errorCode": "DATA_QUALITY_FAILED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "DataQualityPassed",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "ValidateCompleteness",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ValidateDataQuality",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT COUNT(*) AS total_active, SUM(CASE WHEN last_run_status = ''SUCCESS'' AND last_successful_run >= ''', formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss'), ''' THEN 1 ELSE 0 END) AS completed_today, SUM(CASE WHEN last_run_row_count > 0 THEN 1 ELSE 0 END) AS sources_with_data, SUM(CASE WHEN is_critical = 1 AND (last_run_status != ''SUCCESS'' OR last_successful_run < ''', formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss'), ''') THEN 1 ELSE 0 END) AS critical_incomplete FROM dbo.ingestion_control WHERE is_active = 1 AND source_type IN (''file_batch'', ''db_cdc'', ''api_rest'')')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CompletenessCheck",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ValidateCompleteness",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('ValidateCompleteness').output.firstRow.critical_incomplete, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "AlertCompletenessCheckFailed",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@pipeline().parameters.alert_webhook_url",
									"type": "Expression"
								},
								"body": {
									"value": "@concat('{\\\"title\\\":\\\"ADF ALERT - Completeness Check FAILED\\\",\\\"text\\\":\\\"Pipeline: pl_master_c360_ingest | RunId: ', pipeline().RunId, ' | Critical incomplete: ', string(activity('ValidateCompleteness').output.firstRow.critical_incomplete), ' of ', string(activity('ValidateCompleteness').output.firstRow.total_active), ' active. Sources with data: ', string(activity('ValidateCompleteness').output.firstRow.sources_with_data), '\\\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FailCompletenessCheck",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "AlertCompletenessCheckFailed",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('COMPLETENESS CHECK FAILED. Critical incomplete: ', string(activity('ValidateCompleteness').output.firstRow.critical_incomplete), ' of ', string(activity('ValidateCompleteness').output.firstRow.total_active), ' active sources.')",
									"type": "Expression"
								},
								"errorCode": "COMPLETENESS_CHECK_FAILED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "BronzeIngestionComplete",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"force_full_load": {
				"type": "bool",
				"defaultValue": false
			},
			"alert_webhook_url": {
				"type": "string"
			}
		},
		"folder": {
			"name": "c360"
		},
		"annotations": [],
		"lastPublishTime": "2026-06-05T19:55:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
